<!-- Modal -->
<div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modalContent">
      <div class="modal-header bg-dark text-light"id="modalTitle">
        Cancel News Alert
      </div>
      <div class="modal-body" id="msg">
        <p>Modal body text goes here.</p>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-success mr-1" id="successBtn">Save changes</button>
        <button type="button" class="btn btn-secondary" onMouseDown="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <h5>Prescription Management</h5><hr>
    <div class="d-flex p-1 flex-wrap">
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon" src=<%= asset_path("dispense.png")%> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/prescriptions" class="text-primary font-weight-bold">Dispense</a> <br>
            Fill electronic prescriptions sent from the EHR.
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3 pl-3">
            <img class="mt-3 icon" src=<%= asset_path("patient.png")%> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/patients" class="text-primary font-weight-bold">Manage Patients</a> <br>
            Manage patient details including PMAP medications and dispense medications (No Rx).
          </div>
        </div>
      </div>
    </div>
    <h5 class="mt-4">Inventory Control</h5>
    <hr>
    <div class="d-flex p-1 flex-wrap">
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon" src=<%= asset_path("general_inventory.png")%> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/general_inventories" class="text-primary font-weight-bold">General Inventory</a> <br>
            Record and manage medications in the general pharmacy inventory.
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3 pl-3">
            <img class="mt-3 icon" src=<%= asset_path("pmap.png") %>>
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/pmap_inventories" class="text-primary font-weight-bold">PMAP Inventory</a> <br>
            Enter and manage medications in the the PMAP inventory.
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3 pl-3">
            <img class="mt-3 icon" src=<%= asset_path("manufacturer.png") %>>
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/manufacturers" class="text-primary font-weight-bold">Manage Manufacturers</a> <br>
            Maintain the list of drug manufacturers and whether they offer patient assistance programs (PAP).
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon"  src=<%= asset_path("inventory_management.png") %> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/" class="text-primary font-weight-bold">Manage PAR Levels</a> <br>
            Create and manage the minimum amount of each medication that must be available in the clinic.
          </div>
        </div>
      </div>
    </div>
    <h5 class="mt-4">Documentation</h5>
    <hr>
    <div class="d-flex p-1 flex-wrap">
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon" src=<%= asset_path("report.png") %> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/home/activity_sheet" class="text-primary font-weight-bold">Activity Sheet</a> <br> A report on the state of the inventory and dispensing activities within the clinic.
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon" src=<%= asset_path("americorp.png") %> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/reorders" class="text-primary font-weight-bold">PMAP Reorders</a> <br> View PMAP medications that have to be reordered this week.
          </div>
        </div>
      </div>
      <div class="col-4 p-1">
        <div style="display: table-row">
          <div class="pr-3">
            <img class="mt-3 icon" src=<%= asset_path("custom_report.png")%> >
          </div>
          <div style="display: table-cell" class="font-weight-light">
            <a href="/home/custom_report" class="text-primary font-weight-bold"> Inventory & Dispensation Report </a><br/>A summary of dispensation records and the state of
            the medication inventory.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 p-0 border border-primary rounded">
      <div class="bg-primary text-white p-2 font-weight-bold">
        <h4 class="font-weight-normal text-lg-left pl-2">Alerts</h4>
      </div>
      <div class="p-0 mb-0 border overflow-auto" style="height: 75vh !important;">
        <%= render '/news/index' %>
      </div>
  </div>
</div>

<script>
  function hideModal(){
    document.getElementById("appModal").style.display = "none"
    document.getElementById("appModal").classList.remove("show")
   }

</script>