<%= form_for :patient, :url => "/patients/#{params[:id]}", :method => "PATCH"  do |f| %>
    <div class="card">
        <h5 class="card-header bg-dark text-light">Edit Patient Record</h5>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">First Name</label>
                    <input type="text" class="form-control" name="patient[first_name]" value="<%= @patient.first_name %>" placeholder="First name" required>
                </div>
                <div class="col">
                    <label class="col-form-label">Last Name</label>
                    <input type="text" class="form-control" name="patient[last_name]" value="<%= @patient.last_name %>" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">Gender</label>
                    <select class="form-control" name="patient[gender]" required>
                        <option value="" disabled >&nbsp;</option>
                        <option value="M" >Male</option>
                        <option value="F" >Female</option>
                        <option value="O" >Other</option>
                    </select>
                </div>
                <div class="col">
                    <label class="col-form-label">Birthdate</label>
                    <input type="date" class="form-control" name="patient[birthdate]" value="<%= @patient.birthdate %>" placeholder="Date of Birth" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">MRN</label>
                    <input type="text" class="form-control" name="patient[epic_id]" value="<%= @patient.epic_id %>" placeholder="Enter Chart Number" required>
                </div>
                <div class="col">
                    <label class="col-form-label">Preferred Language</label>
                    <select class="form-control" name="patient[language]" required>
                      <option value="ENG">English</option>
                      <option value="ESP">Spanish</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col">
                    <label class="col-form-label">Address</label>
                    <input type="text" class="form-control" name="patient[address]" value="<%= @patient.address %>" placeholder="Enter Address" required>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <label class="col-form-label">City</label>
                    <input type="text" class="form-control" name="patient[city]" value="<%= @patient.city %>" placeholder="City" required>
                </div>
                <div class="col">
                    <label class="col-form-label">State</label>
                    <input type="text" class="form-control" name="patient[state]" value="<%= @patient.state %>" placeholder="State" required>
                </div>
                <div class="col">
                    <label class="col-form-label">Zip Code</label>
                    <input type="text" class="form-control" name="patient[zip]" value="<%= @patient.zip %>" placeholder="Zip" required>
                </div>
            </div>
                    
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
            <button type="button" class="btn btn-lg btn-danger mr-2" onMouseDown="hideModal()">Close</button>
        </div>
    </div>
<% end %>
